/* Définir la police Inter pour tout le site */

html,
body {
    font-family: 'Inter', sans-serif;
}


/* Style du header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
}


/* Style du logo */

.logo {
    font-size: 24px;
}


/* Style de la liste ul */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* Style des éléments li */

li {
    float: left;
}


/* Style des liens dans les éléments li */

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Style des liens survolés */

li a:hover:not(.active) {
    background-color: #111;
}


/* Style des liens actifs */

.active {
    background-color: #04AA6D;
}


/* Style du bouton de connexion */

.login-button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border-radius: 20px;
    /* Bords arrondis */
    cursor: pointer;
}