/* Définir la police Inter pour tout le site */

html,
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}


/* Ajouter une marge au contenu en-dessous de l'en-tête */

.main-content {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    /* Ajustez cette valeur selon vos besoins */
    padding: 20px;
}


/* Style du header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    z-index: 1000;
}


/* Style du logo */

.logo {
    font-size: 24px;
}


/* Style de la liste ul */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* Style des éléments li */

li {
    float: left;
}


/* Style des liens dans les éléments li */

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Style des liens survolés */

li a:hover:not(.active) {
    background-color: #111;
}


/* Style des liens actifs */

.active {
    background-color: #04AA6D;
}


/* Style du bouton de connexion */

.login-button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 20px;
    cursor: pointer;
}


/* Menu Evenements */

#evenements-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#evenements-menu li {
    padding: 10px;
}

#evenements-menu li a {
    color: #333;
    text-decoration: none;
    display: block;
}

#evenements-menu li a:hover {
    background-color: #f4f4f4;
}

#evenements-menu ul {
    display: block;
}


/* Styles spécifiques au premier bloc */

.first-block {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
    /* Alignement du texte en bas à gauche */
}

.first-block img {
    width: 100%;
    /* Taille de l'image réduite */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: blur(1px);
}

.first-block .overlay {
    position: absolute;
    bottom: 20px;
    /* Espacement en bas */
    left: 35%;
    /* Centre l'overlay horizontalement */
    transform: translateX(-50%);
    /* Ajuste pour centrer l'overlay */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    max-width: 80%;
    /* Limite la largeur de l'overlay */
    text-align: Left;
    /* Centre le texte horizontalement */
}

.first-block .overlay h2 {
    margin-bottom: 10px;
}

.first-block .overlay p {
    margin-bottom: 20px;
}

.first-block .overlay .button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.first-block .overlay .button:hover {
    background-color: #0056b3;
}

.second-block .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Espacement égal entre les cartes */
}

.second-block .card {
    width: calc(20% - 20px);
    /* 20% de largeur pour chaque carte avec un espacement de 20px */
    margin-bottom: 20px;
    /* Espacement entre les lignes */
}

.second-block .card img {
    width: 100%;
    height: auto;
    display: block;
}

.second-block .card h3,
.second-block .card p {
    text-align: center;
    /* Centrer le texte horizontalement */
}