/* Style du header */

html {
    font-family: 'Inter', sans-serif;
    /* Utilisation de la police Inter */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
}


/* Style du logo */

.logo {
    font-size: 24px;
}


/* Style de la liste ul */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* Style des éléments li */

li {
    float: left;
}


/* Style des liens dans les éléments li */

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    /* Utilisation de la police Inter */
}


/* Style des liens survolés */

li a:hover:not(.active) {
    background-color: #111;
}


/* Style des liens actifs */

.active {
    background-color: #04AA6D;
}